[submodule "core"]
	shallow = true
	path = core
	url = https://android.googlesource.com/platform/system/core.git
[submodule "libbase"]
	shallow = true
	path = libbase
	url = https://android.googlesource.com/platform/system/libbase.git
